body {
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5rem;
    height: 100%;
    background-color: #111;
    padding: 1.25rem 0;
}

.sidebar a {
    display: block;
    color: white;
    padding: 0.625rem;
    text-decoration: none;
    margin: 0.3125rem 1.25rem;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    margin-left: 14rem;
}

iframe {
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 6px whitesmoke;
    width: 25%;
    height: 40rem;
}

.column-section iframe {
    width: 30%;
    height: 31.25rem;
    display: inline-block;
    vertical-align: top;
}

.row-section iframe {
    width: 95%;
    height: 15rem;
    display: block;
    margin-bottom: 1rem;
}

.row-section {
    display: none;
}

.container-fluid .row {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}